<h2>HIT Description and Instructions</h2>
<p>This HIT requires you to create a search that you think would help you answer a specific question that you will be given. You will be using a new type of
search engine that constructs a search diagram using the terms that you type in.</p>
<p>Once you have completed the task you will be taken to a 9 question survey; 8 of the questions are muliple choice questions, one question is free form.</p>
<p>After you submit the survey you will be directed back to Amazon MTurk and your work will be automatically submitted</p>
<p>Please Note:</p>
<ul>
    <li><b>This task requires a recent version of Firefox or Chrome</b>, please do not attempt this HIT with Internet Explorer or an
        older browser, it may not work.</li>
    <li>Please carefully answer all 9 question on the survey to get credit for completing the HIT</li>
</ul>
<p>Thank you for your consideration!</p>
