<h1>Welcome to the Claremont Graduate University Search Research Site</h1>
<p>Please watch the short instructional video and then continue on to the search site</p>
<p>Once you have completed a search you will be presented with a link that will take you to a short survey.</p>
<p>After you have completed the survey you will be directed back to Amazon MTurk</p>
<div class="row">
    <div class="col-md-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PZQYLiMbhg8" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <p>Proceed to the search site</p>
        <button class="btn btn-default" type="button" go-click="/scenariothree">Go To Search!</button>
    </div>
</div>
