<h1>Welcome</h1>
<p>Please read the instuctions below and then click the "Continue" button to continue on to the task.</p>
<p>Once you have completed the task you will be given a button that will take you to a 9 question survey.</p>
<p>After you submit the survey you will be directed back to Amazon MTurk and your work will be automatically submitted</p>
<p>Please Note:</p>
<ul>
    <li><b>This task requires a recent version of Firefox or Chrome</b>, please do not attempt this HIT with Internet Explorer or an
        older browser, it may not work.</li>
    <li>Please carefully answer all 9 question on the survey to get credit for completing the HIT</li>
</ul>
<p>Thank you for your time and work!</p>
<div class="row">
    <div class="col-md-8">
        <h2>HIT Instructions</h2>
        <p>You are going to be asked to write a search that you think would help you answer a specific question. You will be using a new type of
        search engine that constructs a search diagram using the terms that you type in. You enter your query into the three boxes at the top of
        the screen. You will be typing a sentence but you put the different parts of the sentence into different
        boxes (subject, predicate and object if that distinction help you). You don't need to put something in each box.</p>
        <p><b>For example:</b></p>
        <p>In the below example a user is trying to find an answer to the question "Why won't my car start!".</p>
        <p>The user first typed "my car" in the first box, "won't" in the second box, and "start" in the third box and then clicked
        the "Add Terms!" button to add the terms to the search diagram.</p>
        <p>Thinking that perhaps this search would be too generic the user is getting ready to add the terms "the keys" (in the
        first box), "won't" (in the second box) "turn" (in the third box). When the "Add Terms!" button is clicked the computer
        will add those terms to the search diagram.</p>
        <p>The "Start Over" button removes all search terms from the graph so that you can start fresh</p>
        <p>The "Search!" button will perform the search. You only need to do one search so when you click this button you will be
        presented with results and you won't be able to make further modifcations to your search.</p>
        <p>Just do you best with the search, there is no right answer!</p>
        <p>Once you have submitted your search <b>scroll to the bottom of the results list</b> and <b>click the red button labeled "Take the Survey!"</b> to proceed to the survey. Once
        you have finished the survey you will be taken back to Amazon Mechanical Turk and your work will automatically be
        submitted.</p>
        <img src="images/interface_example.png" alt="Example of a search query" width=70%>
    </div>
    <div class="col-md-4">
        <hr>
        <p><b>Click the "Start" button below to proceed to the search site.</b></p>
        <button class="btn btn-default" type="button" go-click="/scenariothree" ng-style="{'background-color':'red'}">Continue</button>
    </div>
</div>
